.card-container {
    height: auto;
}



.card {
    display: flex;
    width: 1024px;
    height: 255px;
    margin-left: 5%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
}

.card2 {
    display: flex;
    width: 1024px;
    height: 455px;
    margin-left: 5%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
}

.card div {
    margin: 3%;
}

.card2 div {
    margin: 3%;
}

.image img {
    width: 141px;
    height: 103px;
}

.image p {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.ratings {
    width: 265px;
    height: 125px;
    border-radius: 0px, 0px, 12px, 12px;
    background: rgba(243, 249, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(7, 71, 134, 1);

}

.grade {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(7, 71, 134, 1);

}

.btn {
    width: 632px;
    height: 48px;
    top: 537px;
    left: 1051px;
    border-radius: 12px;
    background: rgba(27, 136, 244, 1);
    border: none;
    margin-left: -20%;
    margin-top: 20%;
}

.btn1 {
    width: 632px;
    height: 48px;
    top: 537px;
    left: 1051px;
    border-radius: 12px;
    background: rgba(27, 136, 244, 1);
    border: none;
    margin-left: -20%;
    margin-top: 30%;
}

.content p {
    margin: 4%;
}

.support {
    width: 254px;
    height: 48px;
    text-align: left;

}

.content button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(27, 136, 244, 1);
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector {
    position: relative;
    display: inline-block;
}

.vector img {
    width: 44px;
    height: 44px;
    top: 379px;
    left: 262px;
    border-radius: 9999px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(225, 228, 230, 1)
}

.vector p {
    position: absolute;
    top: 22px;
    left: 22px;
    transform: translate(-50%, -50%);
}

.contents button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(27, 136, 244, 1);
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights {
    width: 455px;
    height: 100px;
    background-color: rgba(255, 244, 237, 1);
}

.sp {
    background: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(27, 136, 244, 1);

}

.show span {
    position: absolute;
    margin: 4px;
}
@media screen and (max-width: 768px) {
    .card {
        height: auto; 
        flex-direction: column;
    }

    .card2 {
        height: auto; 
        flex-direction: column; 
    }
    .btn,.btn1{
        width: 200px;
        margin-left: 20%;
    }
}